# 1. Definir el disco en el nivel superior (¡AQUÍ ESTÁ EL ARREGLO!)
disks:
  - name: gestor-db-disk
    mountPath: /var/data
    sizeGB: 1 # El tamaño mínimo gratis

# 2. Definir el servicio
services:
  - type: web
    name: gestor-gastos-flask
    env: python
    pythonVersion: 3.11.0 # Le decimos a Render qué versión de Python usar
    
    # 3. Vincular el disco aquí (ahora se llama 'disk' en singular)
    disk:
      name: gestor-db-disk
      mountPath: /var/data
      
    # Comandos de construcción e inicio
    buildCommand: "pip install -r requirements.txt; flask init-db"
    startCommand: "gunicorn app:app"
    
    # Variables de Entorno
    envVars:
      - key: DATABASE_URL
        value: /var/data/gastos.db # Apunta a la ruta del disco
      - key: FLASK_ENV
        value: production